/node_modules
.env
/client/build
/server/model/categoryParse.js
npm-debug.log
.idea/
/server/model/foursquareDataHandler
/server/model/foursquareData/foursquareCategoryData.js
/server/model/foursquareData/foursquareCategoryJSON.js
/server/model/foursquareData/categoryParser.js

